body {
    color: deeppink;
}

h2 {
    font-size: medium;
    color: deeppink;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;

}

h3 {
    font-size: medium;
    color: deeppink;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;

}

h1 {
    font-size: larger;
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
}